<div class="loading" *ngIf="!posts">
  Cargando...
</div>
<div class="container-flud mt-3" *ngIf="posts">
  <hr>
  <h1>{{page_title}}</h1>
  <div class="card-columns">
    <article class="card w-100" *ngFor="let post of posts">
      <div class="card-header">
        <h3>
          <a [routerLink]="['/entrada', post.id]">{{post.title}}</a>
        </h3>
      </div>
      <div class="card-body">
        <!--Image-->
        <div class="post-image w-100" *ngIf="post.image">
          <img src="{{ url +'post/image/'+ post.image}}" class="w-100" />
        </div>
        <div class="post-image w-100" *ngIf="!post.image">
          <img src="assets/images/default.png" class="w-100" />
        </div>
        <div class="post-buttons mt-3">
          <span *ngIf="identity && identity.sub == post.user_id; then loged else noLoged"></span>
          <ng-template #noLoged>
            <a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>
          </ng-template>
          <ng-template #loged>
            <a [routerLink]="['/entrada', post.id]" class="btn btn-success mr-2">Leer</a>
            <a [routerLink]="['/editar-entrada', post.id]" class="btn btn-warning mr-2">Editar</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#exampleModal'+post.id">
              Borrar
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{post.id}}" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Seguro que quieres borrar esta entrada?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    vas a borrar definitivamente {{post.title}}
                  </div>
                  <div class="modal-footer">
                    <a (click)="deletePost(post.id)" class="btn btn-danger"  data-dismiss="modal">Borrar</a>
                    <button type="button" class="btn btn-warning"  data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

        </div>
      </div>
    </article>
  </div>
</div>
